.track {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.albumArt img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.trackInformation {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.trackInformation h3 {
  margin: 2px 0;
  font-size: 1rem;
}

.trackInformation p {
  margin: 2px 0;
  font-size: 0.8rem;
}

.trackButton {
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #332850;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.trackButton:hover {
  background-color: #32118d;
}
