.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 9, 41, 0.8);
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  margin: auto;
}

.playlist input {
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-family: Lato, Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(231, 231, 231);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.playlist .save {
  padding: 12px 20px;
  border: none;
  background-color: #32118d;
  color: rgb(231, 231, 231);
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin: 30px;
}

.playlist .save:hover {
  background-color: #4a24b3;
}
